extends layout

block content
  h2 Автоматизована інформаційна система "Кафедра Обчислювана Техніка"
  br
  br
  h3 Информатика — комплексная научная и инженерная дисциплина, изучающая все аспекты разработки, проектирования, создания электронных систем сбора, хранения и переработки информации с целью управления сложными наукоемкими процессами в технико-экономических, экологических и социальных системах.
Термин «информатика» возник около сорока лет назад во Франции. В англоязычных странах эквивалентом «информатики» является «Computer science» (компьютерные науки), что привело к серьезной путанице в украинской терминологии, в которой присутствуют оба наименования одной и той же научной области.
Объект деятельности выпускников-бакалавров по специальности «Информатика»: процессы обработки информации алгоритмическими методами с использованием компьютерной техники, обучение информатике в учебных заведениях разных уровней аккредитации.
  
