extends layout

block content
  
  form(action='/teachload', method='post', id="sendinf")
    select(name="name" id="mySelect" form="sendinf")
      option(value='')
      each val in persons
        option(value='#{val}')= val      
    input(type="submit" value="Показати")

  
  br
  br
  if username
    | !{html}
  
  
